@import '../constants';

#about {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	transition: 1s border-radius ease;

	.circles-container {
		margin: 40px 0 20px 0;
		display: flex;
		width: 50%;
		justify-content: space-between;
	}

	#about-content {
		width: 100%;
		
		p {
			margin-bottom: 0;
		}

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			p {
				margin-left: 10px;
				font-size: 1.5em;
				color: $accent;
			}
		}

		.about-container {
			background-color: $bubble;
			padding: 15px;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.33) 0 3px 6px;
		}

	}
}


@media only screen and (max-width: 1000px) {
    #about {
		.circles-container {
			width: calc(100% - 30vw);
			margin-left: 15vw;
			margin-right: 15vw;
		}
	}
}


@media only screen and (max-width: 800px) {
	#about {
		.circles-container {
			margin-top: 70px;
			margin-bottom: 50px;
		}
	}
}

@media only screen and (max-width: 750px) {
    #about {
		.circles-container {
			width: calc(100% - 10vw);
			margin-left: 5vw;
			margin-right: 5vw;
		}
	}
}

@media only screen and (max-width: 550px) {
    #about {
		.circles-container {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
